<div class="form-group">
  <%= f.radio_button :status, 'submitted'%>
  <%= f.label :submitted %>
   <%= f.radio_button :status, 'approved'%>
  <%= f.label :approved %>
   <%= f.radio_button :status, 'rejected'%>
  <%= f.label :rejected %>

</div>